# will fetch new pif apk if connected to internet
# if pif.apk version from server is same as the last fetched then it wont get updated
on property:sys.boot_completed=1 && property:persist.sys.oemports10t.pif.autoupdate=true
    exec_background u:r:su:s0 root shell -- /system/bin/pif-updater
